/**{
	font-family: MS GOTHIC;
}
*{
	text-align: center;
}
header{
	font-size: 150%;
	background-color:brown; 
}
a{
	font-size: 60%;
}
.bleu img{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}*/
html{
	scroll-behavior:smooth-scroll;
}
a{
	text-decoration:none;
	color: black;
	font-family: comic sans ms;
}
head{
	background-color: white;
}
header{
	margin-right: auto;
}
body{
	margin: 0%;
	background-color: white;
}
section{
	margin-right: auto;
}
nav{
	text-align:center;
}
footer{
	height: 200px;
	background-color: grey;
	box-shadow: 0px 0px 15px #333;
}
.footer{
	text-align: center;
}
.top {
	width:100%;
	height: 120px;
	background-color:#d4f1f4;
}

.links{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 1.5%;
    margin-left: 25%;
    font-size: 120%;
}
.linka{
	padding-right:3%;
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 5%;
	background-color:#d4f1f4;
	border-style: double;
}
.linkb{
	padding-right:3%;
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
	background-color:#d4f1f4;
	border-style: double;
}
.linkc{
	padding-right:3%;
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
	margin-right: 5%;
	background-color:#d4f1f4;
	border-style: double;
}
.Backhead img{
	/*margin-top:1%;*/
	width: 100%;
	box-shadow: 5px 10px 25px 15px #333;
}
.intro1{
	display: flex;
	float: right;
	display:flex;
    margin-top:8%;
    margin-bottom: 8%;
    margin-right: 10%;
    margin-left: 10%;
}
.aside1{
	display: flex;
	margin:5%;
}
.aside1 img{
	width: 200%;
	float: right;
	display:flex;
    margin-left: 10%;
}
.bob{
	display: flex;
	margin:5%;
}
.bob img{
	width: 200%;
	float: right;
	display:flex;
    margin-right: 10%;
}
